@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Orbitron:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@layer components {
  h1,
  h2,
  h3 {
    @apply font-cherza-header tracking-wider;
  }

  a,
  li,
  button,
  input,
  label {
    @apply font-cherza-paragraph;
  }

  .section {
    @apply flex w-full flex-col items-center justify-start;
  }
  .content {
    @apply flex w-full max-w-7xl px-4 xl:px-2;
  }
  .btn-primary {
    @apply bg-cherza-gold-strong hover:bg-gradient-to-r
    hover:from-cherza-gold-strong hover:to-cherza-gold-light
    py-2 px-4 rounded text-cherza-black hover:text-cherza-black hover:font-bold;
  }
  .shiny {
    background: -webkit-linear-gradient(0deg, #cd9626, #ffec7b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .outlined {
    color: black;
    text-shadow: -1px -1px 0 #cd9626, 1px -1px 0 #cd9626, -1px 1px 0 #cd9626,
      1px 1px 0 #cd9626;
  }
}
